input{
    
    width: 300px;
    height: 25px;

}

button{

    background-color: rgb(100, 19, 175);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 250px;
    height: 50px;
    font-size: xx-large;
    
}